@import "./variables.scss";
@import './mixins.scss';
.global-cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 5vh;
  margin: auto;
  justify-content: center;
  justify-self: center;
  justify-items: center;
 
}

.a {
  grid-row: span 2;
}
.card {
  min-width: 30vh;
  max-width: 100%;
  height: 25vh;
  display: inline-block;
  margin: auto;
  position: relative;
  border-radius: 20px;
  transition: .5s; 
  &:hover{
    @include scale-up;
  }
}

.content {
  text-align: center;
  border-radius: 20px;
  margin: 5vh 0 0 0;
  height: 25vh;
  background: $neutral-dark-blue;
  color: white;
  padding: 3vh;
  font-family: "Rubik", sans-serif;
}
.activity {
  position: relative;
  text-align: left;
  font-size: 2.5vh;
  font-weight: 600;
  margin-bottom: 3vh;
}
.spent-time{
    font-size: 7vh;
    text-align: left;
}

.work::before {
  background: $orange url(../images/icon-work.svg) no-repeat;
  @include global-card-before;
}
.play:before{
  background: $soft-blue url(../images/icon-play.svg) no-repeat;
  @include global-card-before;
}
.study::before {
  background: $light-red url(../images/icon-study.svg) no-repeat;
  @include global-card-before;
}
.exercise::before {
  background: $lime-green url(../images/icon-exercise.svg) no-repeat;
  @include global-card-before;
}
.social::before {
  background: $violet url(../images/icon-social.svg) no-repeat;
@include global-card-before;  
}
.self-care::before {
  background: $soft-orange url(../images/icon-self-care.svg) no-repeat;
  @include global-card-before;
}
.previous-spent-time{
  text-align: left;
  margin-top: 1vh;
}

@media screen and (max-width: 1220px){
  .global-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10vh;
  }
 
  
}
