@import "./variables.scss";
@import './hover-states.scss';
.global-cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 80%;
  margin: auto;
  padding: 0;
}

.a {
  grid-row: span 2;
}
.card {
  width: 30vh;
  height: 25vh;
  display: inline-block;
  margin: auto;
  position: relative;
  border-radius: 20px;
}
.content {
  text-align: center;
  border-radius: 20px;
  margin: 5vh 0 0 0;
  height: 25vh;
  background: $neutral-dark-blue;
  color: white;
  padding: 3vh;
  font-family: "Rubik", sans-serif;
}
.activity {
  position: relative;
  text-align: left;
  font-size: 2.5vh;
  font-weight: 600;
  margin-bottom: 3vh;
}
.spent-time{
    font-size: 7vh;
    text-align: left;
}
.activity::before {
  content: "";
  background: url(../images/icon-ellipsis.svg) no-repeat;
  background-position: right;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.work::before {
  background: $orange url(../images/icon-work.svg) no-repeat;
  z-index: -2;
  background-position: 90%;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7vh;
  position: absolute;
  border-radius: 15px 15px 0 0;
}

.play::before {
  background: $soft-blue url(../images/icon-play.svg) no-repeat;
  z-index: -2;
  background-position: 90%;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7vh;
  position: absolute;
  border-radius: 15px 15px 0 0;
}
.study::before {
  background: $light-red url(/images/icon-study.svg) no-repeat;
  z-index: -2;
  background-position: 90%;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7vh;
  position: absolute;
  border-radius: 15px 15px 0 0;
}
.exercise::before {
  background: $lime-green url(/images/icon-exercise.svg) no-repeat;
  z-index: -2;
  background-position: 90%;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7vh;
  position: absolute;
  border-radius: 15px 15px 0 0;
}
.social::before {
  background: $violet url(/images/icon-social.svg) no-repeat;
  z-index: -2;
  background-position: 90%;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7vh;
  position: absolute;
  border-radius: 15px 15px 0 0;
}
.self-care::before {
  background: $soft-orange url(/images/icon-self-care.svg) no-repeat;
  z-index: -2;
  background-position: 90%;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7vh;
  position: absolute;
  border-radius: 15px 15px 0 0;
}
.previous-spent-time{
  text-align: left;
  margin-top: 1vh;
}